.border-box-qa {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 458px; /*iPhone 5/SE screen size*/

  @media screen and (min-width: 768px) {
  flex-direction: row;
  min-height: 100vh;
  }
}

.qa-label,
.qa-input {
  width:100%;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
}

.qa-label {
  background-color: #0018A4;
  color: #fff;
  height: 220px;

  @media screen and (min-width: 768px) {
    width: 50%;
    min-height: 100vh;
    margin: 0;
  }
}

.qa-label>p {
  width: 80%;
  margin: 10px auto;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }   
}

.qa-input {
  background-color: white;
  color: #0018A4;
  margin-top: 40px;
  height: 160px;

  @media screen and (min-width: 768px) {
    width: 50%;
    min-height: 100vh;
    margin: 0;
  }  
}

.qa-input>label,
.qa-input>select,
.qa-input>p {
  width: 90%;
  margin: 5px auto;

  @media screen and (min-width: 768px) {
    width: 80%;
    margin: 15px 40px;
  }   
}

/* Range button style */
.extro-intro-width {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;

  @media screen and (min-width: 768px) {
  flex-direction: row;
  width: 80%;
  }
}

input[type="range"] {
  writing-mode: vertical-lr;
  direction: rtl;  
  height: 100px;

  @media screen and (min-width: 768px) {
  writing-mode: horizontal-tb;
  margin: 0 20px;
  }
}

/* Radio button style */
.radio-label {
    width: 260px;
    border-radius: 6px;
    border: 1px solid #9c9c9c;
    margin-top: 10px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.1s ease, color 0.1s ease;
    color: #000000;
}

input[type="radio"] {
  display: none;  
}

.radio-label input[type="radio"]:checked+span {
    font-weight: bold;
    color: #0018A4;
    display: block;
    background-color: #ccd1ed;
}

.qa-input>select {
  padding: 10px 5px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.center-content-qa>input {
  border: 1px solid #000;
  padding: 10px 5px;
  border-radius: 6px;
  width: 280px;
}

.center-content-qa>input::placeholder {
  color: #000;
}

.center-content-qa {
  display: flex;
  flex-direction: column;
}

/* Basic button styles */
.button-qa {
  padding: 10px 20px;
  margin: 5px 15px;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px 18px;
  border: solid 1px black;
  cursor: pointer;
  display: inline-block;
  width: auto;
  transition: background-color 0.3 ease, color 0.3s ease;
}

/* Default button style */
.disabled-btn {
  background-color: #c2c2c2;
  cursor: not-allowed;
}

/* Active button style */
.next-step, .prev-step, .submit-btn {
  background-color: #0018A4;
  cursor: pointer;
}

/* Hover state for better UX */
.button-qa:hover {
  opacity: 0.85;
}

.cta-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 10px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    width: auto;
    position: absolute;
    bottom: 20%;
    right: 15%;
    padding-bottom: 20px;
  }
}

.validation-message {
  text-align: center;
  color: red;
  font-size: 1rem;

  @media screen and (min-width: 768px) {
  position: absolute;
  bottom: 18%;
  right: 15%;
  }
}


.result-form {
  height: 100vh;
  text-align: center;
  color: white;
  background-color: #0018A4;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: auto;
}

hr {
  border-bottom: 1px solid #fff;
  width: 40%;
  margin: 30px 0;
}

h2, h3 {
  margin: 0;
  padding: 0 10px;
}

p {
  margin: 0;
  padding: 0;
}

